
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="content">
        <div  style="margin:20px 10px;">
            <a class="btn btn-primary btn-sm" href="/AliVideo/add">添加</a>
        </div>
        <div>
            <table class="table">
                <tr>
                    <td></td>
                    <td>CateName</td>
                    <td>CreationTime</td>
                    <td>Description</td>
                    <td>Size</td>
                    <td>Status</td>
                    <td>Title</td>
                    <td>操作</td>
                </tr>
              @{ int index = 0;}
                @foreach (var item in ViewBag.list)
                {
                    index++;
                <tr>
                    <td>@index</td>
                    <td>@item.CateName</td>
                    <td>@item.CreationTime</td>
                    <td>@item.Description</td>
                    <td>@item.Size</td>
                    <td>@item.Status</td>
                    <td>@item.Title</td>
                    <td>
                        <a href="/alivideo/play/@item.VideoId" class="btn btn-primary btn-sm">播放</a>
                        <a href="/alivideo/del/@item.VideoId" class="btn btn-warning btn-sm">删除</a>
                    </td>


                </tr>
                }
            </table>
        </div>

    </div>
</body>
</html>
